#btn{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

body {
    margin: 0;
    padding: 0;
  }
  
.container{
    justify-content: center;
    align-items: center;
    height: 99.8vh;
    border: 1px solid;
    text-align: center;
    background-color: rgb(2, 2, 2);
  }

  .container h1{
    font-size: 100px;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    margin-bottom: 40px;
  }

  .button{
    width: 200px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
  }
  